{
  "singleQuote": true,
  "trailingComma": "all",
  "semi": true,
  "printWidth": 110,
  "endOfLine": "lf",
  "arrowParens": "always",
  "tabWidth": 2,
  "importOrder": [
    "^@/assets/(.*)$",
    "^@/components/(.*)$",
    "^@/context/(.*)$",
    "^@/layout/(.*)$",
    "^@/interfaces/(.*)$",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
