.firstLevel {
	display: grid;

	align-items: center;

	margin-top: 20px;

	font-weight: 500;
	line-height: 25px;
	grid-template-columns: 24px 1fr;
	gap: 20px;
}

.firstLevelActive span {
	color: red;
}

.firstLevelActive svg {
	fill: red;
}

.secondLevel {
	margin-bottom: 10px;

	cursor: pointer;
	text-transform: uppercase;

	color: var(--grey-dark);
	color: #787D85;
}

.secondLevel span {
	font-size: 12px;
	font-weight: 300;
	font-style: normal;
	line-height: 16px;
}

.secondBlock {
	margin-top: 22px;
	margin-bottom: 29px;
	margin-left: 12px;
	padding-left: 32px;

	border-left: 1px solid black;
}

.secondLevelBlock {
	display: none;
}

.secondLevelBlockOpen {
	display: block;

	margin-bottom: 20px;
}

.thirdLevel {
	margin-bottom: 10px;

	cursor: pointer;

	font-size: 12px;

	font-weight: 500;
	line-height: 19px;
}

.thirdLevelActive {
	color: red;
}
